.landing {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
}

.landing h2 {
    font-size: 25px;
    text-align: center;
}

.landing section {
    padding: 10px;
    background-color: #c090ad;
    margin: 10px;
}

.landing p {
    font-size: 20px;
}

.landing-signup {
    text-decoration: none;
    color: #4000a0;
}

/* Responsive design for desktop */
@media all and (min-width: 800px) {
    .landing {
        margin: 100px 50px 50px 50px;
        flex-direction: row;
    }

    .landing h2 {
        font-size: 25px;
    }

    .landing section {
        padding: 10px;
        flex: 1;
        margin-top: 0px;

    }

    .landing p {
        font-size: 22px;
    }
}